* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $veryDarkBlue;
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    display: flex;
    flex-direction: column;
    color: $white;
    height: auto;
    width: 80vw;
    border-radius: 8px;
    .main__1 {
        background: url(../images/image-header-mobile.jpg) no-repeat;
        height: 170px;
        background-size: cover;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $softViolet;
        background-blend-mode: multiply;
    }
    .main__2 {
        background-color: $darkDesaturatedBlue;
        padding: .5em 1.5em 0em 1.5em;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .heading {
        font-weight: 600;
        padding: 1em;
        font-size: 1.2em;
        span {
            color: $softViolet;
        }
    }
    .para {
        font-family: 'Inter', sans-serif;
        font-size: 0.8em;
        color: $slightlyMoreTransparentWhite;
        padding-bottom: 2em;
    }
    .stats {
        text-transform: uppercase;
        p {
            font-size: .8em;
            color: $slightlyMoreTransparentWhite;
        }
        div {
            padding-bottom: 1.5em;
        }
        h4 {
            padding-bottom: .3em;
        }
    }
}