     @include media-md {
         .main__container {
             flex-direction: row-reverse;
             .main__1 {
                 height: auto;
                 width: 800px;
                 border-top-right-radius: 8px;
                 border-bottom-right-radius: 8px;
                 border-top-left-radius: 0px;
                 border-bottom-left-radius: 0px;
             }
             .main__2 {
                 text-align: left;
                 padding: 1em 2em;
                 border-top-left-radius: 8px;
                 border-bottom-left-radius: 8px;
                 border-bottom-right-radius: 0px;
             }
             .heading {
                 padding: 1em 1em 1em 0em;
             }
             .stats {
                 display: flex;
                 justify-content: space-between;
             }
         }
     }
     
     @include media-lg {
         .main__container {
             flex-direction: row-reverse;
             width: 60vw !important;
             .main__1 {
                 height: auto !important;
                 width: 960px !important;
             }
             .heading {
                 font-size: 1.5em !important;
             }
             .para {
                 font-size: 1em !important;
             }
         }
     }